@media screen and   (min-width:320px ) and   (max-width : 1400px){

}

@media screen and  (min-width : 1401px){

}
    
html {
    background-color: rgb(213, 225, 239);
}


.main {
    background: white;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px 0px 40px 0px;
    margin-top: 10%;
}

img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
    margin-bottom: 24px;

}

.cont {

    width: 288px;
    height: 131px;
}

.h1 {
    font-size: 22px;
    line-height: 120%;
    color: rgb(31, 49, 79);
    text-align: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 28px;
    width: 256px;
    height: 52px;
}

.h3 {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgb(104, 119, 141);
    text-align: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 256px;
    height: 63px;
}